<!DOCTYPE HTML>
<html ng-app="mainApp">

<head>
    <title>benjaminpelletier.me</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/main.css" />
    <link rel="stylesheet" href="assets/materialize/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran|Lobster" rel="stylesheet">
    <script type="text/javascript" src="assets/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="assets/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="assets/angular.min.js"></script>
    <script type="text/javascript" src="assets/main.js"></script>
</head>

<body ng-controller="MainController">
    <div id="mainWrapper">
    <div class="title-container">
        <h1>Benji Pelletier</h1>
    </div>
    <!-- Cards -->

    <div class="row">
        <!-- Side Projects -->
		<div class="col s12 sideProjs">
            <div class="card-container">
                <div ng-repeat="project in sideProjects">
                    <div class="badge-container" ng-style="{'display': (blurr ? 'block' : 'none')}" ng-mouseleave="blurr=false">
                        <a ng-href="{{project.links[0]}}"><img class="ios-badge" src="images/app-store-badge.svg" /> </a>
                        <a ng-href="{{project.links[1]}}"><img class="android-badge" src="images/google-play-badge.svg" />
                        </a>
                    </div>
                    <div class="card card-sp horizontal hoverable" ng-class="{'blurred-card': blurr, 'not-blurred': !blurr}">
                        <a class="left-container" ng-href="{{project.links.length==1 ? project.links[0] : ''}}" ng-click="blurr=project.links.length==2" target="_blank">
                            <div class="left-border">
                                <i class="material-icons right">launch</i>
                            </div>
                        </a>

                        <div class="card-stacked">
                            <div class="card-content card-content-sp">
                                <span class="card-title card-title-sp">{{project.title}}</span>
                                <p class="flow-text card-desc">{{project.desc}} </p>
                            </div>

                        </div>

                        <div class="card-image card-image-sp">
                            <img class="hoverable z-depth-1" ng-src="{{project.img}}" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Experience -->
		<div class="col s12 workExp" >
            
            <div class="card-container">
                    <div class="card card-we" ng-repeat="work in workExp">
                        <div class="card-image">
                            <iframe class="job-map" ng-src="{{work.api_src}}">
  </iframe>

                            <a class="btn-floating halfway-fab waves-effect waves-light" ng-href="{{work.link}}" target="_blank"><i class="material-icons">launch</i></a>
                        </div>
                        <div class="card-content">
                            <img class="job-img" ng-src="{{work.img}}">
                            <p class="card-desc">{{work.desc}}</p>
                        </div>
                    </div>
            </div>

        </div>
                    

    </div>
        <div class="push"></div>
    </div>


    <!-- Footer -->
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l4  s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://drive.google.com/file/d/1kLtzuSnpW7isNdbBN2iyfQjHlaBpp1q9/view?usp=sharing" target="_blank"><i class="material-icons left">receipt</i>Resume</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/benjipelletier" target="_blank"><i class="material-icons left">code</i>Github</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/benjaminpelletier" target="_blank"><i class="material-icons left">link</i>LinkedIn</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.youtube.com/user/breadedturtle" target="_blank"><i class="material-icons left">play_arrow</i>Youtube</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2012 - 2018 Made with &lt;/> by Benjamin Pelletier
            <a class="grey-text text-lighten-4 right" href="mailto:pelletierbenji@gmail.com">contact</a>
            </div>
          </div>
        </footer>

</body>

</html>
