
    <!DOCTYPE HTML>

    <html ng-app="mainApp">

    <head>
        <title>benjipelletier.me</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="assets/main.css" />
        <link rel="stylesheet" href="assets/materialize/css/materialize.min.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Catamaran|Lobster" rel="stylesheet">
        <script type="text/javascript" src="assets/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="assets/materialize/js/materialize.min.js"></script>
        <script type="text/javascript" src="assets/angular.min.js"></script>
        <script type="text/javascript" src="assets/main.js"></script>
    </head>
    <body ng-controller="MainController">
        <div class="container">
            <div class="title-container">
              <h1>Benjamin Pelletier</h1>
            </div>
            <!-- Cards -->
            <div class="card-container">
                <div ng-repeat="project in sideProjects">
                    <div class="badge-container" ng-style="{'display': (blurr ? 'block' : 'none')}" ng-mouseleave="blurr=false">
                        <a ng-href="{{project.links[0]}}" ><img class="ios-badge" src="images/app-store-badge.svg"/> </a>
                        <a ng-href="{{project.links[1]}}"><img class="android-badge" src="images/google-play-badge.svg" /></a>
                    </div>
                    <div class="card horizontal hoverable"  ng-class="{'blurred-card': blurr, 'not-blurred': !blurr}">
                        <a class="left-container" ng-href="{{project.links.length==1 ? project.links[0] : ''}}" ng-click="blurr=project.links.length==2">
                            <div class="left-border">
                                <i class="material-icons right">launch</i>
                            </div>
                        </a>

                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title">{{project.title}}</span>
                                <p class="flow-text card-desc">{{project.desc}} </p>
                            </div>

                        </div>

                        <div class="card-image">
                            <img class="hoverable z-depth-1" ng-src="{{project.img}}" />
                        </div>

                    </div>
                </div>
            </div>

            <!-- Experience -->
            <ul class="collapsible" data-collapsible="accordion">
                <li ng-repeat="job in workExp">
                    <div class="collapsible-header"><img class="job-img" ng-src="{{job.img}}">{{job.company}} ({{job.position}})</div>
                    <div class="collapsible-body"><span>{{job.desc}}</span></div>
                </li>
            </ul>

        </div>
        <div class="container resume-container">
            <object data="/images/resume.pdf" type="application/pdf">
   <p><b>Example fallback content</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="https://drive.google.com/file/d/1VZMx80ub6NPN8jSHRey1IU-g7GHHey96/view">Download PDF</a>.</p>
</object>
        </div>
    </body>
    </html>
