body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}
.black-bg {
	background-color: #333333;
}
.centerDiv{
	display:table;
	position:absolute;
	margin: 100px -35%;
	top:0;
	left:50%;
	width:70%;
	border-radius: 5px;
	padding:1px 30px;

}

small {
	color:gray !important;
}

.card {
	background-color: #fff;
	width:auto;
}

.info {
	font-weight: bold;
	font-size: 2em;
}

.inside-card {
	box-shadow: 0px 2px 0px #d3d3d3 !important;
}

h1 {
	margin-top:20px !important;
	color: white !important;
	text-align: center;

}

h1.card-title {
	color: #333 !important;
}

p.card-text {
	text-align: center !important;
}

p, a, span{
	font-size: 150%;
}

blockquote p {
	font-size: 120% !important;
}

.form-control {
	width:90% !important;
}

.btn {
	margin-left: 10px;

}

.btn:focus {
	outline: 0 !important;
}

$orange: #F6A45D;

@keyframes pulse {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

body {
  margin: 0;
}

.ctnr {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $orange;
}

.ldr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 2.5em;
  height: 2.5em;
}

.ldr-blk {
  height: 35%;
  width: 35%;
  animation: pulse 0.75s ease-in infinite alternate;
  background-color: darken($orange, 15%);
}

.an_delay {
  animation-delay: 0.75s;
}

body{
  margin: 0;
  background: #30252E;
  color: rgb(240,102,0);
}
.loadingText{
  width: 100%;
  position: absolute;
  top: calc(50% + 42px);
  left: 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  font-size:1em !important;
  font: 300 32px/1 'HelveticaNeue-UltraLight', sans-serif;
}
.loading{
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  
  box-sizing: border-box;
  border-top: 8px solid rgb(240,82,0);
  border-right: 8px solid rgba(240,82,0,.3);
  border-bottom: 8px solid rgba(240,82,0,.3);
  border-left: 8px solid rgba(240,82,0,.3);
  border-radius: 100%;
  
  animation: rotate 1s infinite linear;
}
@keyframes rotate{
	from {transform: rotate(0deg) translate3d(0,0,0)}
	to {transform: rotate(359deg) translate3d(0,0,0)}
}

