html, body {
  height: 100%;
  margin: 0;
}

body {
    background-color: #ecf0f1;
    width: 100%;
}

.title-container {
    text-align: center;
    color: #333;
}

.title-container h4 {
    color: gray;
    position: relative;

}

h1 {
    font-weight: 900 !important;

}

.card-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

}

.card-content-sp {
    padding-top: 10px !important;
    height: 100%;
}

.card-sp {
    transition: all 2s ease;
    width: 400px;
	margin: 10px !important;
    height: 100px;
}


.card-image-sp {
    width: 90px;
    bottom: 0;
    right: 0;
}

.card-image-sp img {
    position: absolute !important;
    width: 70% !important;
    margin: auto;
    margin-left: 0;
    border-radius: 5% !important;

}

.card-sp a {
	text-decoration: none;
	color: inherit;
}

.left-border {
    transition: all 0.5s ease;
    background-color: firebrick;
    width: 10px;
    height: 100%;
    align-items: center;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.left-border i {
    position: relative;
    position:relative;
    top: calc(50% - 15px);
    color: white;
    right: 7px;
}
.card-sp:hover .left-border {
    width: 40px;
}

.badge-container:hover + .blurred-card {
    transition: all 0.3s;
    filter: blur(4px);
}

.card-title-sp {
	font-weight: 300 !important;
    font-size: 1.4em !important;
    margin-bottom: 0 !important;
}

.card-desc {
    font-weight: 300 !important;
    font-size: 1em !important;
    color: gray !important;
    margin: 0 !important;
    line-height: 1.3em;
}

.card p {
	font-size: 1em;
}

.badge-container {
    position: absolute;
    margin: 10px;
    width: 400px;
    height: 100px;
    text-align: center;
    z-index: 1;
    display: none;
    opacity: 0;
}

.badge-container:hover {
    transition: all 0.5s ease;
    opacity: 1;
}
.badge-container img {
    position: relative;
    top: 20%;
    margin: 10px;
}

.tabs {
    background-color: #ecf0f1 !important;
    width: 100% !important;
}

.resumeCont {
    height: 100vh;
}

 .tabs .tab a{
     transition: all 0.3s ease !important;
    color:#000 !important;
} 

.tabs .tab a:hover {
    background-color: lightgray !important;
    color:#000 !important;
} 

.tabs .tab a.active {
    color:firebrick !important;
}  

.tabs .indicator {
    background-color: #333 !important;
}

.halfway-fab {
    background-color: firebrick !important;
}

.card-we {
    width: 400px;
}

.job-img {
	width: 150px;
    margin-bottom: 10px
}

.job-map {
    width: 100%;
    height: 300px;
    border: none;
}

.page-footer {
  right: 0;
  bottom: 0;
  left: 0;
  background-color: firebrick !Important;
  padding: 0 !important;
}

#mainWrapper {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -197px;
}

.push {
    height: 197px;
}
.white-text {
        font-weight: 300 !important;
}

.grey-text {
    font-weight: 300 !important;
    line-height: 1.3em;
}

.grey-text:hover {
     text-decoration: underline;
}

.grey-text i {
    height: 10px;
}
.tab-outside {

}
.tab-container {
    max-width: 800px;
    margin: 0 auto;
}

.sideProjs, .workExp, .resumeCont {
    margin-top: 20px;
}
.card-container {
    max-width: 1000px;
    margin: 0 auto;
}
