
.card-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.card {
	width: 400px;
	margin: 10px !important;
}

.card-image {
	width: 200px;
}

.card-image img {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.card-image img:hover {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.card a {
	text-decoration: none;
	color: inherit;
}

.card-title {
	font-weight: 900;
}

.card p {
	font-size: 1em;
}
